<!DOCTYPE html>

<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
    <head>
        <title>Covid-19 : Stats et Prévisions</title>
        <meta charset="utf-8">
    </head>
    
    <body>
    
        <header>
        
            <div id="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="imgLogo"/>

            </div>
            
            <nav>
                <ul>
                    <li><a class="active" href="{{ url_for('index') }}">Acceuil</a>
                    <li><a href="{{ url_for('france') }}">France</a>
                    <li><a href="{{ url_for('monde') }}">Monde</a>
                    <li><a href="{{ url_for('about') }}">Contact</a> 

                    <div class="navCo">
                        {% if current_user.is_anonymous %}
                            <li style="float:right"><a href="{{ url_for('login') }}">Connexion</a>
                        {% else %}
                            <li style="float:right"><p>{{ current_user.username[0]|capitalize }}</p>
                            <li style="float:right"><a href="{{ url_for('logout') }}">Déconnexion</a>
                        {% endif %}
                    </div>
                </ul>
            </nav>
            
        </header>
        
        <hr>
        
        <div class="subbody">
        
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li style="color:rgb(255,0,0)">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        
            {% block content %}{% endblock %}
            
        </div>
        
    </body>
    
    <address>Fait le 2 avril 2020<br>Alexandre Banon.</address>
</html>
