{% extends 'base.html' %}

{% block content %}

    <form action="/monde/" method="post"> 

        <div class="player">
        
            <label for="nPremiers">Choisir le nombre de pays à afficher : </label>
            <input type="number" id="nPremiers" name="nPremiers" value="10" min="0" required>
            
            <br><br>
            
            <label for="submit">Valider  : </label>
            <input type="submit" id="submit">
            
            <br><br>
            <br><br>
            
            <h2>Options :</h2>  
            
            <label for="nInfectes">Nombre d'infecter pour aligner les données : </label>
            <input type="number" id="nInfectes" name="nInfectes" value="1000" min="0" required>
            
            <br><br>
            
            <label for="nDeces">Nombre de décès pour aligner les données : </label>
            <input type="number" id="nDeces" name="nDeces" value="10" min="0" required>
            
            <br><br>
            
        </div>
        
    </form>
    
{% endblock %}
